<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1>Login</h1>
  <form class="login-form" action="/login" method="POST">
    <%- include('../includes/alerts.ejs') %>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'form-control-invalid' : '' %>"
    >
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        value="<%= locals.prevInput ? prevInput.email : ''%>"
      />
    </div>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'form-control-invalid' : '' %>"
    >
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        value="<%= locals.prevInput ? prevInput.password : ''%>"
      />
    </div>
    <div class="form-control">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <p>
      Forgot your password?
      <a href="/resetPassword" title="Don't click this.">Reset it</a>
    </p>
  </form>
</main>
<%- include('../includes/end.ejs') %>
