<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1>Reset Password</h1>
  <form class="login-form" action="/newPassword" method="POST">
    <%- include('../includes/alerts.ejs') %>
    <div class="form-control">
      <label for="newPassword">New password: </label>
      <input type="password" name="newPassword" id="newPassword" />
    </div>
    <div class="form-control">
      <label for="confirmNewPassword">Confirm new password: </label>
      <input
        type="password"
        name="confirmNewPassword"
        id="confirmNewPassword"
      />
    </div>
    <div class="form-control">
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn btn-primary" type="submit">Update password</button>
    </div>
  </form>
</main>
<%- include('../includes/end.ejs') %>
