<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1>Reset password</h1>
  <form class="login-form" action="/resetPassword" method="POST">
    <%- include('../includes/alerts.ejs') %>
    <div class="form-control">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="form-control">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn btn-primary" type="submit">Reset password</button>
    </div>
  </form>
</main>
<%- include('../includes/end.ejs') %>
