<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1>Sign up</h1>
  <form class="login-form" action="/signup" method="POST" novalidate>
    <%- include('../includes/alerts.ejs') %>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'name') ? 'form-control-invalid' : '' %>"
    >
      <label for="name">Name: </label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= locals.prevInput ? prevInput.name : ''%>"
      />
    </div>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'form-control-invalid' : '' %>"
    >
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        value="<%= locals.prevInput ? prevInput.email : ''%>"
      />
    </div>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'form-control-invalid' : '' %>"
    >
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        value="<%= locals.prevInput ? prevInput.password : ''%>"
      />
    </div>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'form-control-invalid' : '' %>"
    >
      <label for="confirmPassword">Confirm password: </label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        value="<%= locals.prevInput ? prevInput.confirmPassword : ''%>"
      />
    </div>
    <div class="form-control">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
  </form>
</main>
<%- include('../includes/end.ejs') %>
