<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1><%= editing ? 'Edit product' : 'Add product' %></h1>
  <form
    class="product-form"
    action="/admin/<%= editing ? 'editProduct?_method=PUT' : 'addProduct' %>"
    method="POST"
    enctype="multipart/form-data"
  >
    <%- include('../includes/alerts.ejs') %>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'title') ? 'form-control-invalid' : '' %>"
    >
      <label for="title">Title: </label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= (editing || hasError) ?
      product.title : '' %>"
      />
    </div>
    <div class="form-control form-control-inline">
      <label for="imgUrlType">Image:</label>
      <input type="radio" id="imgUploadRadio" name="imgUrlType" value="upload"
      <% if (!((editing || hasError) && product.imgUrlType === 'url')) { %>
      checked<% } %> />
      <label for="imgUploadRadio">Upload file</label><br />
      <input type="radio" id="imgUrlRadio" name="imgUrlType" value="url" <% if
      ((editing || hasError) && product.imgUrlType === 'url') { %> checked<% }
      %> />
      <label for="imgUrlRadio">From URL</label><br />
    </div>
    <div
      id="img-url-form-control"
      class="form-control <%= validationErrors.find(e => e.param === 'imgUrl') ? 'form-control-invalid' : '' %><%= ((editing || hasError) && product.imgUrlType === 'url') ? '' : 'hide' %>"
    >
      <input
        type="text"
        name="imgUrl"
        id="imgUrl"
        value="<%= (editing || hasError) && product.imgUrlType === 'url' ?
      product.imgUrl : '' %>"
      />
    </div>
    <div
      id="img-upload-form-control"
      class="form-control <%= validationErrors.find(e => e.param === 'img') ? 'form-control-invalid' : '' %><%= ((editing || hasError) && product.imgUrlType === 'url') ? 'hide' : '' %>"
    >
      <input type="file" name="img" id="img" />
      <label for="img" id="imgUploadBtn"><span>Upload image...</span></label>
    </div>
    <div
      class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'form-control-invalid' : '' %>"
    >
      <label for="price">Price: </label>
      <div class="field-with-text-before">
        <input
          type="number"
          step=".01"
          name="price"
          id="price"
          value="<%= (editing || hasError) ?
        product.price : '' %>"
        />
      </div>
    </div>
    <div class="form-control">
      <label for="description">Description: </label>
      <textarea name="description" id="description" rows="5">
<%= (editing || hasError) ?
      product.description : '' %></textarea
      >
    </div>
    <% if (editing) { %>
    <input type="hidden" name="productId" value="<%= product._id %>" /> <% } %>
    <div class="form-control">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn btn-primary" type="submit">
        <%= editing ? 'Edit product' : 'Add product' %>
      </button>
    </div>
  </form>
</main>
<script src="/js/editProduct.js"></script>
<%- include('../includes/end.ejs') %>
