<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <div class="title-and-button">
    <h1>Your Products</h1>
    <a href="/admin/addProduct" class="btn btn-outline btn-primary btn-icon"
      ><span class="material-icons"> add </span></a
    >
  </div>
  <%- include('../includes/alerts.ejs') %> <% if(products.length > 0) { %>
  <div class="grid">
    <% products.forEach(product => { %>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= product.title %></h1>
      </header>
      <div class="card__image">
        <img src="<%= product.imgUrl %>" , alt="<%= product.title %>" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price %></h2>
        <p class="product__description">
          <%= (product.description.length > 0) ? product.description :
          'Description not available.' %>
        </p>
      </div>
      <div class="card__actions">
        <a
          href="/admin/editProduct/<%= product._id %>?edit=true"
          class="btn btn-primary"
          >Edit</a
        >
        <button
          class="btn btn-danger"
          type="button"
          onclick="deleteProduct(this)"
        >
          Delete
        </button>
        <input type="hidden" name="productId" value="<%= product._id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </div>
    </article>
    <% }); %>
  </div>
  <% } else { %>
  <p>No products available for the current user.</p>
  <% } %>
</main>
<script src="/js/admin.js"></script>
<%- include('../includes/end.ejs') %>
