<form action="/cart" method="post">
  <button class="btn btn-primary" type="submit">Add to cart</button>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
