<% if (errorMsg.length > 0) { %>
<div class="alert alert-danger">
  <span class="material-icons icon-before-text"> error </span
  ><span><%= errorMsg %></span>
</div>
<% } %> <% if (successMsg.length > 0) { %>
<div class="alert alert-success">
  <span class="material-icons icon-before-text"> check_circle </span
  ><span><%= successMsg %></span>
</div>
<% } %>
