<div class="backdrop fadeOut"></div>
<header class="main-header">
  <button id="side-menu-toggle" class="main-header__list-item">
    <span class="material-icons item-text"> menu </span>
  </button>
  <span class="nav-brand only-show-on-mobile">Node Thing</span>
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li>
        <span class="nav-brand">Node Thing</span>
      </li>
      <% navItems.forEach(item => { if (item.display && item.position !== 'end')
      { %>
      <li class="main-header__list-item">
        <a
          class="<%= url === item.path ? 'active' : '' %>"
          href="<%= item.path %>"
          ><span class="item-text"><%= item.title %></span></a
        >
      </li>
      <% } }); %>
    </ul>
    <ul class="main-header__list">
      <% navItems.forEach(item => { if (item.display && item.position === 'end')
      { %>
      <li class="main-header__list-item">
        <a
          class="<%= url === item.path ? 'active' : '' %>"
          href="<%= item.path %>"
          ><span class="item-text"><%= item.title %></span></a
        >
      </li>
      <% } }); %> <% if (isAuthenticated) { %>
      <li class="main-header__list-item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit"><span class="item-text">Logout</span></button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <% navItems.forEach(item => { if (item.display && item.position !== 'end') {
    %>
    <li class="mobile-nav__list-item">
      <a
        class="<%= url === item.path ? 'active' : '' %>"
        href="<%= item.path %>"
        ><%= item.title %></a
      >
    </li>
    <% } }); %>
  </ul>
  <ul class="mobile-nav__list">
    <% navItems.forEach(item => { if (item.display && item.position === 'end') {
    %>
    <li class="mobile-nav__list-item">
      <a
        class="<%= url === item.path ? 'active' : '' %>"
        href="<%= item.path %>"
        ><%= item.title %></a
      >
    </li>
    <% } }); %> <% if (isAuthenticated) { %>
    <li class="mobile-nav__list-item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit"><span class="item-text">Logout</span></button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
