/* Roboto & Roboto Slab fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  --primary: #0055ff;
  --primary-dark: #004de6;
  --primary-dark2: #0044cc;

  --success-light: #c1ffc1;
  --success-dark: #004600;

  --danger-light2: #ffc1c1;
  --danger-light: #ff8c8c;
  --danger: #ff0000;
  --danger-dark1: #e60000;
  --danger-dark2: #cc0000;
  --danger-dark3: #580000;

  --gray1: #1a1a1a;
  --gray2: #4d4d4d;
  --gray3: #bbb;
  --gray4: #eaeaea;
  --gray5: #fcfcfc;

  --dark-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--gray1);
}

main {
  padding: 1rem;
  margin-top: 3.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-brand {
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
}

h2 {
  color: var(--gray2);
}

.hide {
  display: none;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem;
}

.padding-0 {
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-align-start {
  text-align: start;
  justify-content: flex-end;
}

.icon-before-text {
  margin-inline-end: 0.5rem;
}

/* Links */

a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.125s, border-bottom 0.125s;
}

a:hover {
  color: var(--primary-dark);
  border-bottom: 1px solid var(--primary-dark);
}

a:active,
a:focus {
  color: var(--primary-dark2);
  border-bottom: 1px solid var(--primary-dark2);
}

/* Button */

.btn,
.btn:link,
.btn:visited {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  padding: 0.5rem 1rem !important;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  bottom: 0;
  transition: background-color 0.1s, color 0.1s, border 0.1s, bottom 0.125s;
}

.btn:hover {
  bottom: 0.125rem;
}

.btn:active {
  bottom: 0;
}

.btn:focus {
  outline: none;
}

.btn.btn-primary,
.btn.btn-danger {
  color: white;
}

.btn.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn.btn-primary:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.btn.btn-primary:active {
  background-color: var(--primary-dark2);
  border: 1px solid var(--primary-dark2);
}

.btn.btn-danger {
  background-color: var(--danger);
  border: 1px solid var(--danger);
}

.btn.btn-danger:hover {
  background-color: var(--danger-dark1);
  border: 1px solid var(--danger-dark1);
}

.btn.btn-danger:active {
  background-color: var(--danger-dark2);
  border: 1px solid var(--danger-dark2);
}

.btn.btn-white {
  background-color: var(--gray5);
  border: 1px solid var(--gray5);
}

.btn.btn-white:hover {
  background-color: white;
  border: 1px solid white;
}

.btn.btn-white:active {
  background-color: var(--gray4);
  border: 1px solid var(--gray4);
}

.btn.btn-outline,
.btn.btn-transparent {
  background-color: transparent;
}

.btn.btn-transparent {
  border: 1px solid transparent;
}

.btn.btn-outline.btn-primary:hover,
.btn.btn-outline.btn-danger:hover,
.btn.btn-outline.btn-primary:active,
.btn.btn-outline.btn-danger:active,
.btn.btn-transparent:hover,
.btn.btn-transparent:active {
  color: white !important;
}

.btn.btn-outline.btn-white {
  color: white;
}

.btn.btn-outline.btn-white:hover,
.btn.btn-outline.btn-white:active {
  color: var(--gray1);
}

.btn.btn-outline.btn-primary,
.btn.btn-transparent.btn-primary {
  color: var(--primary);
}

.btn.btn-outline.btn-danger,
.btn.btn-transparent.btn-danger {
  color: var(--danger);
}

.btn.btn-icon {
  padding: 0.5rem !important;
  display: flex;
  align-items: center;
}

/* Alert */

.alert {
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.alert.alert-success {
  background-color: var(--success-light);
  color: var(--success-dark);
}

.alert.alert-danger {
  background-color: var(--danger-light2);
  color: var(--danger-dark3);
}

/* Header */

.main-header {
  width: 100%;
  height: 3.5rem;
  background: linear-gradient(var(--primary) 0%, var(--primary-dark) 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  display: flex;
  z-index: 3;
}

.main-header__nav {
  padding: 0 1.5rem;
  height: 100%;
  display: none;
}

.nav-brand {
  font-weight: bold;
  font-size: 115%;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  margin-inline-end: 1rem;
}

.nav-brand.only-show-on-mobile {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  margin: 0 auto;
  justify-content: center;
}

.main-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

.main-header__list-item {
  background-color: transparent;
  transition: background-color 0.1s;
  cursor: pointer;
  display: flex;
  align-items: stretch;
}

.main-header__list-item:hover,
.main-header__list-item a:focus {
  background-color: rgba(0, 0, 0, 0.125);
  outline: none;
}

.main-header__list-item a,
.main-header__list-item button {
  margin: 0;
  padding: 0 1rem;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: none;
  height: 100%;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.1s;
}

.main-header__list-item a:active,
.main-header__list-item button:active,
button.main-header__list-item:active {
  background-color: rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
}

.main-header__list-item .active {
  background-color: rgba(0, 0, 0, 0.0625);
}

.main-header__list-item .item-text,
.main-header__list-item a .item-text {
  position: relative;
  bottom: 0;
  transition: bottom 0.125s;
}

.main-header__list-item button:focus {
  outline: none;
}

.main-header__list-item:hover .item-text,
.main-header__list-item a:hover .item-text,
.main-header__list-item a:focus .item-text,
.main-header__list-item button:hover .item-text,
.main-header__list-item button:focus .item-text {
  bottom: 0.125rem;
}

.main-header__list-item:active .item-text,
.main-header__list-item a:active .item-text,
.main-header__list-item button:active .item-text {
  bottom: 0;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 10;
  inset-inline-start: -110%;
  transition: inset-inline-start 0.15s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav.open {
  inset-inline-start: 0;
}

.mobile-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__list-item {
  padding: 0;
  display: flex;
}

.mobile-nav__list-item a,
.mobile-nav__list-item button {
  text-decoration: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: black;
  padding: 1rem 2rem;
  width: 100%;
  text-align: start;
}

.mobile-nav__list-item form {
  width: 100%;
}

.mobile-nav__list-item a:active,
.mobile-nav__list-item a:hover,
.mobile-nav__list-item button:active,
.mobile-nav__list-item button:hover {
  background-color: #00000020;
  border: none;
}

.mobile-nav__list-item button:focus {
  outline: none;
}

.mobile-nav__list-item a.active,
.mobile-nav__list-item button.active {
  background-color: var(--primary);
  color: white;
}

#side-menu-toggle {
  color: white;
  border: none;
  padding: 1rem;
  display: block;
  cursor: pointer;
  z-index: 1;
}

#side-menu-toggle:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  z-index: 5;
  display: none;
}

.backdrop.fadeIn {
  animation: fade 0.15s normal forwards;
}

.backdrop.fadeOut {
  animation: fade 0.15s reverse forwards;
}

/* Hero Jumbotron */

.hero-jumbotron {
  background-image: var(--dark-gradient),
    url(../images/xps-pduutGbL2-M-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: white;
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-jumbotron h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-jumbotron p,
.hero-jumbotron .btn {
  font-size: 1.25rem;
  margin-top: 0;
}

/* Cards */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}

.card {
  box-shadow: 0 4px 4px #00000040;
  background-color: var(--gray5);
  border-radius: 8px;
  padding: 1rem;
  margin: 0;
}

.card__header,
.card__content {
  padding: 0 1rem;
}

.card__header h1 {
  margin: 0 0 1rem 0;
}

.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 15em;
}

.card__image-small img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 5em;
}

.card__actions {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  text-align: center;
}

.card__actions .btn,
.card__actions a {
  margin: 0 0.25rem;
}

/* Product form */

.product-form,
.login-form {
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-form {
  width: 50rem;
}
.login-form {
  width: 25rem;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control.form-control-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control.form-control-inline label {
  width: fit-content;
  margin-inline-end: 1rem;
}

.form-control label,
.form-control input[type='text'],
.form-control input[type='number'],
.form-control input[type='email'],
.form-control input[type='password'],
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control label {
  padding: 0.5rem 0;
}

.form-control input,
.form-control textarea,
.form-control #imgUploadBtn {
  border: 1px solid var(--gray3);
  font: inherit;
  border-radius: 0.25rem;
  transition: border 0.1s, box-shadow 0.1s;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-control input[type='text']:focus,
.form-control input[type='number']:focus,
.form-control input[type='email']:focus,
.form-control input[type='password']:focus,
.form-control textarea:focus,
.form-control.form-control-invalid input[type='text']:focus,
.form-control.form-control-invalid input[type='number']:focus,
.form-control.form-control-invalid input[type='email']:focus,
.form-control.form-control-invalid input[type='password']:focus,
.form-control.form-control-invalid textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.1rem var(--primary);
  outline: none;
  display: flex;
  align-items: center;
}

.form-control input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* .form-control #imgUploadBtn {
  width: inherit;
} */

.form-control button,
.form-control p {
  margin-top: 0.5rem;
}

.form-control.form-control-invalid label {
  color: var(--danger-dark2);
}

.form-control.form-control-invalid input,
.form-control.form-control-invalid textarea,
.form-control.form-control-invalid #imgUploadBtn {
  border-color: var(--danger-light);
}

/* Product item */

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: var(--gray2);
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
  height: 3.5em;
  overflow: hidden;
}

/* Product list pagination */

.pagination {
  text-align: center;
  margin-top: 2rem;
}

/* Product details */

.product-detail__img {
  width: 40rem;
  max-width: 100%;
}

/* Cart & Orders */

.cart-list,
.orders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders-list * {
  padding: 0;
}

.cart-list__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.cart-list__list-item-product {
  display: flex;
}

.cart-list__list-item-img {
  width: 7.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-list__list-item-info {
  margin-inline-start: 0.75rem;
}

.cart-list__list-item-info :first-child {
  margin: 0;
}

.cart-list__list-item-info p {
  margin: 0.5em 0;
}

.cart-list__list-item-delete button {
  margin-inline-end: 0.5em;
}

.order-title {
  margin: 0.5rem 0;
}

.order-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

/* Media queries */

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .nav-brand.only-show-on-mobile {
    display: none;
  }

  .hero-jumbotron h1 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }

  #side-menu-toggle {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .only-show-on-mobile {
    display: none;
  }

  .cart-list__list-item {
    padding: 0.5em;
  }
}

@media (min-width: 1024px) {
  .hero-jumbotron h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Fade animation */

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
