<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1><%= pageTitle %></h1>
  <p>Oh no! Looks like '<%= url %>' doesn't exist.</p>
</main>
<%- include('../includes/end.ejs') %>
