<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1><%= pageTitle %></h1>
  <p>
    Oh no! Something went wrong on our end. We're working on fixing this, sorry
    for the inconvenience.
  </p>
</main>
<%- include('../includes/end.ejs') %>
