<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <div class="title-and-button">
    <h1>Cart</h1>
    <span class="text-align-start"
      ><strong>Total price: </strong><br />$<%= totalPrice %></span
    >
  </div>
  <% if(cartProducts.length > 0) { %>
  <ul class="cart-list">
    <% cartProducts.forEach(product => { %>
    <li class="cart-list__list-item card">
      <div class="cart-list__list-item-product">
        <div class="cart-list__list-item-img card__image-small">
          <img
            src="<%= product.productId.imgUrl %>"
            alt="<%= product.productId.title %>"
          />
        </div>
        <div class="cart-list__list-item-info">
          <h3>
            <%= product.productId.title %> &times; <%= product.quantity %>
          </h3>
          <p>
            $<%= product.productId.price %> / unit<br />Total: $<%=
            product.productId.price * product.quantity %>
          </p>
        </div>
      </div>
      <form
        action="/removeFromCart?_method=DELETE"
        method="POST"
        class="cart-list__list-item-delete"
      >
        <input
          type="hidden"
          name="productId"
          value="<%= product.productId._id %>"
        />
        <button class="btn btn-danger btn-transparent btn-icon" type="submit">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <span class="material-icons"> clear </span>
        </button>
      </form>
    </li>
    <% }); %>
  </ul>
  <!-- <form action="/createOrder" method="POST" class="flex-end">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-primary">Order now</button>
  </form> -->
  <div class="flex-end">
    <a href="/checkout" class="btn btn-primary">Order now</a>
  </div>
  <% } else { %>
  <p>Your cart is empty.</p>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
