<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <div class="title-and-button">
    <h1>Checkout</h1>
    <span class="text-align-start"
      ><strong>Total price: </strong><br />$<%= totalPrice %></span
    >
  </div>
  <ul class="cart-list">
    <% cartProducts.forEach(product => { %>
    <li class="cart-list__list-item card">
      <div class="cart-list__list-item-product">
        <div class="cart-list__list-item-img card__image-small">
          <img
            src="<%= product.productId.imgUrl %>"
            alt="<%= product.productId.title %>"
          />
        </div>
        <div class="cart-list__list-item-info">
          <h3>
            <%= product.productId.title %> &times; <%= product.quantity %>
          </h3>
          <p>
            $<%= product.productId.price %> / unit<br />Total: $<%=
            product.productId.price * product.quantity %>
          </p>
        </div>
      </div>
    </li>
    <% }); %>
  </ul>
  <div class="flex-end">
    <button id="orderBtn" class="btn btn-primary">Order</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe = Stripe(
        'pk_test_51HzHQzIKzf2pGke3260nvfufIu1ivr4yJvOgBYVOWHqcFD2J6oUPe5uo1EnxK0IRqfQuKGPYo46vLDDhsIzFXiBd005riWlnZH'
      );
      const orderBtn = document.getElementById('orderBtn');
      orderBtn.addEventListener('click', () => {
        stripe.redirectToCheckout({
          sessionId: '<%= sessionId %>',
        });
      });
    </script>
  </div>
</main>
<%- include('../includes/end.ejs') %>
