<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<div class="hero-jumbotron">
  <div class="container">
    <h1>The stupidest Node shop ever created.</h1>
    <p>Give us your money.</p>
    <a href="/products" class="btn btn-outline btn-white">Shop now</a>
  </div>
</div>
<main class="container mt-0">
  <h1>Featured Products</h1>
  <div class="grid">
    <% products.forEach(product => { %>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= product.title %></h1>
      </header>
      <div class="card__image">
        <img src="<%= product.imgUrl %>" , alt="<%= product.title %>" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price %></h2>
        <p class="product__description">
          <%= (product.description.length > 0) ? product.description :
          'Description not available.' %>
        </p>
      </div>
      <div class="card__actions">
        <% if (isAuthenticated) { %> <%- include('../includes/addToCart.ejs', {
        product }) %> <% } %>
        <a
          href="/products/<%= product._id %>"
          class="btn btn-outline btn-primary"
          >Details</a
        >
      </div>
    </article>
    <% }); %>
  </div>
  <div class="flex-center mt-1">
    <a href="/products" class="btn btn-primary">View all products</a>
  </div>
</main>
<%- include('../includes/end.ejs') %>
