<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1>Orders</h1>
  <% if (orders.length <= 0) { %>
  <p>You have no orders.</p>
  <% } else { %>
  <ul class="orders-list">
    <% orders.forEach((order, index) => { %>
    <li>
      <h2 class="order-title">Order #<%= index + 1 %></h2>
      <div class="order-subtitle">
        <span><strong>Total price:</strong> $<%= orderTotals[index] %></span>
        <span
          ><strong
            ><a href="/orders/<%= order._id %> ">Invoice</a></strong
          ></span
        >
      </div>

      <ul>
        <% order.products.forEach(p => { %>
        <li class="cart-list__list-item card">
          <div class="cart-list__list-item-product">
            <div class="cart-list__list-item-img card__image-small">
              <img src="<%= p.product.imgUrl %>" alt="<%= p.product.title %>" />
            </div>
            <div class="cart-list__list-item-info">
              <h3><%= p.product.title %> &times; <%= p.quantity %></h3>
              <p>
                $<%= p.product.price %> / unit<br />Total: $<%=
                Math.round(((p.product.price * p.quantity) + Number.EPSILON) *
                100) / 100 %>
              </p>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </li>
    <% }); %>
  </ul>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
