<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1>Products</h1>
  <% if(products.length > 0) { %>
  <div class="grid">
    <% products.forEach(product => { %>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= product.title %></h1>
      </header>
      <div class="card__image">
        <img src="<%= product.imgUrl %>" , alt="<%= product.title %>" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price %></h2>
        <p class="product__description">
          <%= (product.description.length > 0) ? product.description :
          'Description not available.' %>
        </p>
      </div>
      <div class="card__actions">
        <% if (isAuthenticated) { %> <%- include('../includes/addToCart.ejs', {
        product }) %> <% } %>
        <a
          href="/products/<%= product._id %>"
          class="btn btn-outline btn-primary"
          >Details</a
        >
      </div>
    </article>
    <% }); %>
  </div>
  <section class="pagination">
    <% if (page !== 1) { %>
    <a href="/products?page=1" class="btn btn-outline btn-primary"
      >&laquo; First</a
    >
    <% } %> <% if (hasPrevPage && page - 1 !== 1) { %><a
      href="/products?page=<%= page - 1 %>"
      class="btn btn-outline btn-primary"
      ><%= page - 1 %></a
    >
    <% } %>
    <a href="/products?page=<%= page %>" class="btn btn-primary"><%= page %></a>
    <% if (hasNextPage && page + 1 !== lastPage) { %><a
      href="/products?page=<%= page + 1 %>"
      class="btn btn-outline btn-primary"
      ><%= page + 1 %></a
    >
    <% } %> <% if (page !== lastPage) { %>
    <a href="/products?page=<%= lastPage %>" class="btn btn-outline btn-primary"
      >Last &raquo</a
    >
    <% } %>
  </section>
  <% } else { %>
  <p>No products available.</p>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
