<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<main class="container">
  <h1><%= product.title %></h1>
  <hr />
  <div>
    <img
      src="<%= product.imgUrl %>"
      alt="<%= product.title %>"
      class="product-detail__img"
    />
  </div>
  <h2>$<%= product.price %></h2>
  <p><%= product.description %></p>
  <% if (isAuthenticated) { %> <%- include('../includes/addToCart.ejs', {
  product }) %> <% } else { %>
  <p><strong>To add this product to your cart, log in.</strong></p>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
